<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.map.personalitytest">

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignUp" android:icon="@drawable/launcicon"></activity>
        <activity android:name=".SignIn"  android:icon="@drawable/launcicon"/>
        <activity android:icon="@drawable/launcicon"
            android:name=".Dynamo"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".Supervisor"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".Performer"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".Provider"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".Craftsperson"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".Inspector"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".Composer"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".Protector"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".Teacher"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".Visionary"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".Commander"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".Champion"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".Architect"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".Counselor"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".Mastermind"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".Healer"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".PersonalityMenu"
            android:screenOrientation="portrait" />
        <activity  android:icon="@drawable/launcicon"
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".Result"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".FirstActivity"
            android:screenOrientation="portrait" />
        <activity android:icon="@drawable/launcicon"
            android:name=".home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loading"
            android:screenOrientation="portrait"
            android:icon="@drawable/launcicon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>